<h1>Contact Us</h1>

<p>
	You received the following message through your website:<br><br>

	-------------------------------------------<br>
	From: <%= @user_email %><br><br>
	Message: <%= @user_message %><br>
	-------------------------------------------<br>
</p>
